@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.video{
  width: 100%;
  height: 50%;
}
@keyframes textLoop {
  0% { transform: translateY(0); }
  33% { transform: translateY(-100%); }
  66% { transform: translateY(-200%); }
  100% { transform: translateY(0); }
}

.text-loop {
  @apply overflow-hidden h-10;
}

.text-loop-inner {
  @apply inline-block;
  animation: textLoop 6s infinite;
}

.text-item {
  @apply h-10 flex items-center;
}
/* .marquee {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  40% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
} */
 @media screen and (max-width:320px) {
   .column{
    flex-direction: column;
    width: 100%;
   }
   .widthh{
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    margin: 0 auto;
    gap: 10;
   }
 }
 @media screen and (max-width:861px) {
  .column{
   flex-direction: column;
   flex-wrap: nowrap;

  }
  
  .widthh{
   flex-direction: column;
  width: 100%;
  }
}
@media screen and (min-width:641px) {
  .hidenn{
    
    display: none;
  }
 
}
@media screen and (min-width:721px) {
  .hidennn{
    flex-direction: column;
    width: 100%;
    
  }
 
}
.active{
  color: #9487e0;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

.animationn{
  animation: slideUp 1s ease-out forwards;
  position: relative; 
  opacity: 0;
}
@media screen and (min-width:300px) {
  .animationn{
   flex-direction: row;
  }
  
}
.mixcolor{
  background: linear-gradient(blue, grey, purple);
}
.gradient-text {
  font-weight: bold;
  background-image: linear-gradient( #6b18aa, #c18137, #81974e);
  background-clip: text;
  color: transparent;
}

.custom-shape-divider-top-1722189344 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1722189344 svg {
  position: relative;
  display: block;
  width: calc(117% + 1.3px);
  height: 337px;
}

.custom-shape-divider-top-1722189344 .shape-fill {
  fill: #0C252BDE;
}
.project:hover{
  transform: scale3d(1.1, 1.1, 1.1);
  transition: all 1s ease-out;
}
