@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.video{
  width: 100%;
  height: 50%;
}
@keyframes textLoop {
  0% { transform: translateY(0); }
  33% { transform: translateY(-100%); }
  66% { transform: translateY(-200%); }
  100% { transform: translateY(0); }
}

.text-loop {
  @apply overflow-hidden h-10;
}

.text-loop-inner {
  @apply inline-block;
  animation: textLoop 6s infinite;
}

.text-item {
  @apply h-10 flex items-center;
}
/* .marquee {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  40% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
} */
 @media screen and (max-width:320px) {
   .column{
    flex-direction: column;
   }
   .widthh{
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    margin: 0 auto;
    gap: 10;
   }
 }
 @media screen and (max-width:861px) {
  .column{
   flex-direction: column;
   flex-wrap: nowrap;
   width: 90%;

  }
  
  .widthh{
   flex-direction: column;
  width: 100%;
  }
}